# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
target/

# Gradle
.gradle/
build/

# Temp files
*.tmp

# Angular specific
/angular-app/dist/
/angular-app//out-tsc/
/angular-app/tmp/
/angular-app/coverage/
/angular-app/e2e/test-output/
/angular-app/.angular/
/ui/angular-app.angular/

# Node modules and dependency files
/angular-app/node_modules/
/angular-app/package-lock.json
/angular-app/yarn.lock

# Environment files
/angular-app/.env

# Angular CLI and build artefacts
/angular-app/.angular-cli.json
/angular-app/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
/angular-app/npm-debug.log*
/angular-app/yarn-debug.log*
/angular-app/yarn-error.log*
