services:
  backend:
    build: .
    container_name: astrokiddo-backend
    expose:
      - "8091"
    environment:
      - SERVER_PORT=8091
      - CF_API_TOKEN=${CF_API_TOKEN}
      - CF_ACCOUNT_ID=${CF_ACCOUNT_ID}
      - CF_AI_PROVIDER=${CF_AI_PROVIDER}
      - CF_AI_VENDOR=${CF_AI_VENDOR}
      - CF_AI_MODEL=${CF_AI_MODEL}
      - CF_AI_BASE_URL=${CF_AI_BASE_URL}
      - CF_AI_ENABLED=${CF_AI_ENABLED}
      - CF_AI_MAX_VOCAB=${CF_AI_MAX_VOCAB}
      - CF_AI_TEMPERATURE=${CF_AI_TEMPERATURE}
      - APOD_BASE_URL=${APOD_BASE_URL}
      - IMAGES_BASE_URL=${IMAGES_BASE_URL}
      - NASA_API_KEY=${NASA_API_KEY}
    restart: unless-stopped
    networks:
      - ai_net

  frontend:
    build: angular-app
    container_name: astrokiddo-frontend
    depends_on:
      backend:
        condition: service_started
    expose:
      - "80"
    restart: unless-stopped
    networks:
      - ai_net

networks:
  ai_net:
    driver: bridge